@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#f8f208;
    --primary-color-dark:#ee9821;
    --secondary-color:#04091d;
    --secondary-color-light:#0f1221;
    --secondary-color-dark:#03060f;
    --text-light:#94a3b8;
    --white:#ffffff;
    --max-width:1200px;
    --gradient: linear-gradient(
        to right,
        var(--primary-color-dark),
        var(--primary-color)
    );
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.section_subheader{
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.section_description{
    max-width: 600px;
    margin-top: 1rem;
    margin-inline: auto;
    color: var(--text-light);
    text-align: center;
}

.btn{
    padding: .5rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--secondary-color);
    background-image: var(--gradient);
    border-radius: 5rem;
    cursor: pointer;
}

img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--white);
}

html,
body{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--white);
    background-color: var(--secondary-color);
}

.header{
    position: relative;
    background-color: var(--secondary-color-dark);
}

.header_socials{
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
}

.header_socials a{
    padding: 7px 13px;
    font-size: 1.5rem;
    color: var(--secondary-color);
    background-image: var(--gradient);
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav_bar{
    position: relative;
    isolation: isolate;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
}

.nav_logo a{
    font-size: 1.5rem;
    font-weight: 700;
}

.nav_logo a span{
    color: var(--primary-color-dark);
}

.nav_links{
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    transform: translateY(-100%);
    background-color: var(--secondary-color-light);
    transition: .5s;
    z-index: -1;
}

.nav_links.open{
    transform: translateY(0);
}

.link a{
    transition: .3s;
}

.link.btn a{
    color: var(--secondary-color) !important;
}

.link a:hover{
    color: var(--primary-color-dark);
}

.nav_menu_btn{
    font-size: 1.5rem;
    cursor: pointer;
}

.header_container{
    padding-top: 10rem;
    display: grid;
    grid-area: 4rem;
}

.header_image img{
    max-width: 400px;
    margin: auto;
}

.header_content{
    text-align: center;
}
.header_content h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.header_content h1{
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
}

.header_content p{
    margin-bottom: 2rem;
    color: var(--text-light);
}

.about_container{
    display: grid;
    gap: 4rem;
}

.about_image img{
    max-width: 450px;
    margin: auto;
}

.about_content .section_header{
    margin-bottom: 1rem;
    text-align: left;
}

.about_content p{
    margin-bottom: 2rem;
    color: var(--text-light);
}

.about_content h4{
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-light);
    background-color: var(--secondary-color-light);
    border-left: 2px solid var(--primary-color-dark);
    border-radius: 5px;
}

.about_btns{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about_btns .download_btn{
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border-radius: 5rem;
}

.about_btns a{
    padding: 4px 8px;
    font-size: 1.25rem;
    color: var(--secondary-color);
    background-image: var(--gradient);
    border-radius: 5rem;
}

.project_header{
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}

.project_nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.project_btn{
    color: var(--white);
    background-image: none;
    background-color: transparent;
}

.mixitup-control-active{
    color: var(--secondary-color);
    background-image: var(--gradient);
}

.project_grid{
    display: grid;
    gap: 1rem;
}

.project_card img{
    border-radius: 5px;
    cursor: pointer;
}